@page "/my-profile"
@using BlazorFurniture.Client.Resources.Pages.Account
@using Microsoft.Extensions.Localization
@attribute [Authorize]
@* @inject IStringLocalizer<Pages_Account> Localizer *@

<MudNavLink Href="api/user/reset-password" Icon="@Icons.Material.Filled.Login">
	<MudText class="d-none d-md-flex">Reset password</MudText>
</MudNavLink>
<MudPaper Height="200px" Style="overflow:hidden; position:relative;">
	<MudDrawerContainer Class="mud-height-full">
		<MudDrawer @bind-Open="@_open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Breakpoint="Breakpoint.None">
			<MudNavMenu>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings">@Pages_Account.profile</MudNavLink>
				@* <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountBox">@Localizer[Pages_Account.profile]</MudNavLink> *@
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group">Groups</MudNavLink>
			</MudNavMenu>
		</MudDrawer>
		<div class="d-flex justify-center align-center mud-height-full">
			<MudButton OnClick="@ToggleDrawer" Color="Color.Primary">Toggle</MudButton>
		</div>
	</MudDrawerContainer>
</MudPaper>

@code
{
	private bool _open = false;

	private void ToggleDrawer()
	{
		_open = !_open;
	}
}